language: python
python:
  - "3.7"

install:
  - pip install -r requirements

jobs:
  include:
    - stage: "Unit Tests"
      script:
        - python -m unittest discover -v tests
    - stage: "Deploy"
      script:
        - echo "ok"